* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 16px;
  }
  
  body {
    font-family: 'Open Sans', arial,sans-serif;
    padding: 0;
    padding-bottom: 56px;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center
  }


.scoreboard{
  background-color: aquamarine;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between ;
  width: 400px;
  height: 300px;

}
.subcontainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  text-align: center;
}
.subcontainer h1{
  color:greenyellow;
  font-size: x-large;
  background-color: black;
  width: 25px;
  align-self: center;
  margin-right: 25px
}
.player1{
  margin-left: 45px;
}
.player2{
  margin-right: 45px;
}